<div class="main-agileinfo slider ">
  <div class="items-group">
    <div class="item agileits-w3layouts">
      <div class="block text main-agileits"> 
        <span class="circleLight"></span> 
        <!-- login form -->
        <div class="login-form loginw3-agile"> 
          <div class="agile-row">
            <h1>로그인</h1> 
            <div class="login-agileits-top"> 	
              <form name="login-form" ng-submit="submitLogin()"> 
                <p>User Id</p>
                <input id="login-userid" type="text" name="user_id" class="form-control" placeholder="User Id" ng-model="login.user_id" required>
                <p>Password</p>
                <input id="login-password" type="password" name="password" class="form-control" placeholder="Password" ng-model="login.password" required>   
                <p/>
                <input type="submit" value="Login" class="btn"> 
              </form> 	
            </div> 
          </div>  
        </div>   
      </div>
    </div>   
  </div>
</div>	 