
<div class="main-agileinfo slider ">
    <div class="items-group">
        <div class="item agileits-w3layouts">
            <div class="block text main-agileits"> 
                <div class="agile-row">
                    <h1>Ranking</h1>
                </div>
                
            </div>
        </div>
    </div>
</div>


  <div class="container">

        <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>순 위</th>
                            <th>라 면</th>
                            <th>음 료</th>
                            <th>밥</th>
                            <th>빵</th>
                            <th>추 천</th>
                            <th>댓 글</th>
                        </tr>
                    </thead>
                <tbody>
                  <tr ng-repeat="obj in rankList">
                    <td><button type="button" class="btn btn-default" ng-click="">{{obj.rank}}</button></td>		
                    <td><img src="../images/r{{obj.ramen}}.jpg" class="img-responsive" alt=""></li>
                    <td><img src="../images/w{{obj.water}}.jpg" class="img-responsive" alt=""></li>
                    <td><img src="../images/c{{obj.rice}}.jpg" class="img-responsive" alt=""></li>
                    <td><img src="../images/b{{obj.bread}}.jpg" class="img-responsive" alt=""></li>
                    <td><button type="button" class="btn button" ng-click="goodAdd(obj.seq)">{{obj.gcnt}}</button></td>		
                    <td><button type="button" class="btn btn-danger" ng-click="replyPage(obj.seq)">{{obj.recnt}}</button></td>			
                  </tr>
              </tbody>
              </table>
        </div>
  </div>

<!-- Modal -->
<div id="message" class="modal fade" role="dialog" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                    <div class="agile-row">
                            <h1>추천하셨으니~ 이제 드셔봐야겠죠? 그리고 댓글까지~OK?</h1>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">O K</button>
                <!-- <button type="submit" class="btn btn-primary" ng-click="saveReply((ori_seq),contxt)">등 록</button> -->
           
            </div>
            </div>
    
        </div>
    </div>
    