<!-- <div class="jumbotron">
  <h1>'Hello, 'Hello!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" href="login:">LOGIN<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<!--start-ckeckout-->
<div class="ckeckout">
  <div class="container">
    <div class="ckeckout-top">
    <div class="cart-items heading">
     <h1>컵라면투게더 Ranking</h1>
      <script>$(document).ready(function(c) {
        $('.close1').on('click', function(c){
          $('.cart-header').fadeOut('slow', function(c){
            $('.cart-header').remove();
          });
          });	  
        });
       </script>
    <script>$(document).ready(function(c) {
        $('.close2').on('click', function(c){
          $('.cart-header1').fadeOut('slow', function(c){
            $('.cart-header1').remove();
          });
          });	  
        });
       </script>
       <script>$(document).ready(function(c) {
        $('.close3').on('click', function(c){
          $('.cart-header2').fadeOut('slow', function(c){
            $('.cart-header2').remove();
          });
          });	  
        });
       </script>
      
    <div class="in-check" >
      <ul class="unit">
        <li><span>Ramen</span></li>
        <li><span>Warter</span></li>		
        <li><span>Rice</span></li>
        <li><span>Bread</span></li>
        <li><span>Good</span></li>
        <li><span>Reply</span></li>
        <div class="clearfix"> </div>
      </ul>
      <ul class="cart-header simpleCart_shelfItem">
        <div class="close1"> </div>
        <li class="ring-in"><img src="images/r01.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/w01.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/c01.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/b01.jpg" class="img-responsive" alt=""></li>
        <li><span class="item_price">100</span></li>
        <li><span class="item_price">100</span></li>				
        <div class="clearfix"> </div>
      </ul>
      <ul class=" cart-header1 simpleCart_shelfItem">
        <div class="close2"> </div>
        <li class="ring-in"><img src="images/r02.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/w02.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/c02.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/b02.jpg" class="img-responsive" alt=""></li>
        <li><span class="item_price">100</span></li>
        <li><span class="item_price">100</span></li>				
      <div class="clearfix"> </div>
      </ul>
      <ul class="cart-header2 simpleCart_shelfItem">
        <div class="close3"> </div>
        <li class="ring-in"><img src="images/r03.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/w03.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/c03.jpg" class="img-responsive" alt=""></li>
        <li class="ring-in"><img src="images/b03.jpg" class="img-responsive" alt=""></li>
        <li><span class="item_price">100</span></li>
        <li><span class="item_price">100</span></li>					
      <div class="clearfix"> </div>
      </ul>
    </div>
    </div>  
   </div>
  </div>
</div>
<!--end-ckeckout-->