<div class="main-agileinfo slider ">
    <div class="items-group">
      <div class="item agileits-w3layouts">
        <div class="block text main-agileits"> 
          <span class="circleLight"></span> 
          <div class="login-form loginw3-agile"> 
            <div class="agile-row">
              <h1>라면 타이머</h1> 
              <div class="login-agileits-top"> 	
                  <div style="border: 0px solid ; padding: 2px; width: 100%; text-align:center;">
                      <div>곧 찾아 뵙겠습니다.</div>
                 </div>
                  <br>
                  <div style="border: 0px solid ; padding: 2px; width: 100%; text-align:center;">
                      <button type="button" class="btn btn-danger" 
                    style="border: 0px solid ; padding: 2px; width: 100%; text-align:center;"
                      ng-click="gohome()">돌아가기</button>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>